nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-menu{
  list-style: none;
  display: flex;
  
  li{
    margin: 8px 16px;
  }

  @include responsive(s){
    display: none;
  }
}